<?xml version='1.0' encoding='utf-8'?>
<widget id="org.goran.ionicdirectory" version="1.0" xmlns="http://www.w3.org/ns/widgets" 
xmlns:gap = "http://phonegap.com/ns/1.0"
xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Locarda</name>
    <description>
        Locarda - digitalna kartica vjernosti
    </description>
    <author email="goran.mandinic@gmail.com" href="http://locarda.me">
        Goran Mandinic
    </author>	
	<gap:plugin name="org.apache.cordova.contacts" />
	<gap:plugin name="org.apache.cordova.camera" />
	<gap:plugin name="org.apache.cordova.network-information" />
	<gap:plugin name="com.phonegap.plugins.pushplugin" />
	<gap:plugin name="org.apache.cordova.device"/>
	<icon src="img/icon.png" />
	
	<gap:platform name="android" />
    <gap:platform name="winphone" />
	
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
</widget>
