<ion-view title="Dashboard">
  <ion-content class="padding">
    <h3>Postavke</h3>
		<div class="list">
	<label class="item item-input">
		<input type="text" placeholder="Mail">
	</label>
	<label class="item item-input">
		<input type="text" placeholder="Lozinka">
	</label>
	<label class="item item-input">
		<textarea placeholder="Ime"></textarea>
	</label>
	</div>
	
	<ul class="list">

  <li class="item item-toggle">
     Identificiraj se mail adresom?
     <label class="toggle toggle-positive">
       <input type="checkbox">
       <div class="track">
         <div class="handle"></div>
       </div>
     </label>
  </li>


</ul>
	</br>
	<button class="button button-assertive ">
		Submit
	</button>
  </ion-content>
</ion-view>
