
<ion-view title="Postavke">

  <ion-content class="padding">
	<div class="list">
	<label class="item item-input">
		<input type="text" placeholder="Email">
	</label>
	<label class="item item-input">
		<input type="text" placeholder="Password">
	</label>
	<!--
	<label class="item item-input">
		<input type="text" placeholder="Ime">
	</label>
	-->
	</div>
	</br>
	<button class="button  button-block button-assertive " ng-controller="SignUpCtrl" ng-click="signUp()">
		Registriraj
	</button>

	
	
  </ion-content>
</ion-view>
